.layout {
    height: 100vh;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: 70px 1fr 70px;
    grid-template-areas: "header header header header" " section section section aside" " footer footer footer footer";
}
.one::after {
    content: attr(data-item); 
    color: white;
    padding: 20px;
    font-size: x-large;
}
header {
    grid-area: header;
    background-color: #2196F3;
}
section{
    grid-area: section;
    background-color:#F44336 ;
}
aside {
    grid-area: aside;
    background-color: #607D8B;
}
footer {
    grid-area: footer;
    background-color: #009688;
}